.card__section{
    margin-top: 2rem;
    padding: 1.5rem 1rem;
}
.card__subtitulo{
    margin: 1rem 0 ;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}
.card__detalhes{
    display: flex;
    justify-content: center;
}

#card__meio{
    margin-top: 7.5%;
}

@media screen and (max-width: 768px) {
    .card__detalhes{
        flex-direction: column;
        width: 100%;
    }
    #card__meio{
        margin: 0;
    }
}
