.formulario__form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 20%;
  }
  
  .formulario__campo{
    margin-top: 2rem;
    width: 100%;
  }
  
  .formulario__form-input{
    width: 100%;
    margin-bottom: 2rem;
    height: 3rem;
  }
  
  .formulario__form-input[type=text],
  .formulario__form-input[type=email],
  .formulario__form-input[type=date]{
    font-size: 1.25rem;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
  }

  .formulario__form-input-selecao{
    width: 100%;
    margin-bottom: 0rem;
    height: 4.0rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
  }
  
  .formulario__form-label{
    font-size: 2rem;
    text-align: left;
    font-weight: 700;
    display: block;
  }
  
  .campos__tipo__data{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }
  
  
  .formulario__botao-enviar{
    background-color: var(--azul-escuro-primary);
    box-shadow: 4px 4px 0px #000000;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
  }
  .formulario__botao-enviar img{
    margin-left: 0.5rem;
  }
  .formulario__botao-enviar:hover{
    background-color:var(--azul-hover);
  
    box-shadow: none;
  }

.mensagem_de_erro{
  color: red;
  font-size: 1.5rem;
}
.campo__erro{
  border-color: red;
}
  